_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
workspace.code-workspace
Gemfile.lock
vendor
_posts/2015-03-15-formatting-and-links.md
_posts/2015-05-15-images.md
_posts/2015-07-15-code.md
_posts/2015-10-20-comments.md
_posts/2015-10-20-math.md
_posts/2016-08-03-perseid-meteor-shower.md
_posts/2018-12-22-distill.md
_posts/2020-09-28-github-metadata.md
_posts/2020-09-28-twitter.md