# -----------------------------------------------------------------------------
# Site settings
# -----------------------------------------------------------------------------
name: Milad Nasr
email: milad@cs.umass.edu
description: > # this means to ignore newlines until "url:"
  A simple, whitespace theme for academics. Based on [*folio](https://github.com/bogoli/-folio) design.
footer_text: >
  Powered by <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> with <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme, customized by me!
url:  # the base hostname & protocol for your site
baseurl: /~milad # the subpath of your site, e.g. /blog/
last_updated: Sep 11 2018 # leave blank if you don't want to display last updated

# -----------------------------------------------------------------------------
# Social integration
# -----------------------------------------------------------------------------
github_username: srxzr # your GitHub user name
twitter_username: srxzr # your Twitter handle
linkedin_username: milad-nasresfahani-50ab6a56 # your LinkedIn user name
scholar_userid: k6-nvDAAAAAJ # your Google Scholar ID
orcid_id: # your ORCID ID
contact_note: >
  You can even add a little note about which of these is the best way to reach you.

google_analytics: UA-84178620-1 # out your google-analytics code

# -----------------------------------------------------------------------------
# Blog
# -----------------------------------------------------------------------------
#blog_name: al-folio
#blog_description: a simple whitespace theme for academics
#
## Pagination
#paginate: 4
#permalink: /blog/:year/:title/
#paginate_path: /blog/page:num/
#
#text:
#  pagination:
#    newer: 'Newer'
#    older: 'Older'
#
## Comments
#disqus_shortname: al-folio # put your disqus shortname
#
## Optional features
#show_social_icons:  false
#enable_anchorjs:    false
#enable_katex:       true

# -----------------------------------------------------------------------------
# Collections
# -----------------------------------------------------------------------------
collections:
  news:
    defaults:
      layout: post
    output: true
    permalink: /news/:path/
  projects:
    output: true
    permalink: /projects/:path/

news_limit: 5

# -----------------------------------------------------------------------------
# Jekyll settings
# -----------------------------------------------------------------------------

# Build settings
markdown: kramdown
highlighter: pygments

# Includes & excludes
include: ['_pages']
exclude: [vendor]

# Plug-ins
plugins:
    - jekyll-email-protect
    - jekyll-paginate
    - jekyll/scholar
    - jemoji

# Jekyll-Scholar
scholar:

  last_name: Nasr

  style: apa
  locale: en

  sort_by: year
  order: descending

  source: /_bibliography/
  bibliography: papers.bib
  bibliography_template: bib

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"

# -----------------------------------------------------------------------------
# Other settings
# -----------------------------------------------------------------------------
jquery_version: "1.12.4"
katex_version: "0.9.0"
anchorjs_version: "3.2.2"
