          
          <div class="certs">
            <h2>Professional Certificates</h2>
            {% if site.certs != blank -%} 
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign certs = site.certs | reverse -%} 
              {% for item in certs limit: site.certs_limit %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="certs-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No certs so far...</p>
          {%- endif %} 
          </div>
