<form
  class="form-horizontal"
  action="https://formspree.io/f/mqkrwglo"
  method="POST"
  target="_blank"
>
  <fieldset>
    <div class="form-group">
      <input type="text" name="name" placeholder="Your Name">
    </div>
    <div class="form-group">
      <input type="email" name="_replyto" placeholder="Your Email">
    </div>
    <div class="form-group">
      <textarea
        class="form-control"
        id="textarea"
        name="message"
        placeholder="Your Message"
      ></textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="Send">
    </div>
    <input type="text" name="_gotcha" style="display: none">
  </fieldset>
</form>
