          
          <div class="education">
            <h2>Experience</h2>
            {% if site.experience   -%} 
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign news = site.experience | reverse -%} 
              {% for item in news limit%} 
                <tr>
                  <table class="table-borderless"> 
                    <tr> 
                      <!-- <td rowspan="2" style="min-width: 150px;">
                        <div>
                          <img src="{{ site.baseurl }}/assets/img/{{item.logo }}" loading="lazy" decoding="async">
                      </div>
                      </td> -->
                      <td style="min-width: 350px;padding: 5px;"> <div class="education-insti"> {{ item.name}}</div></td>
                      <td style="min-width: 100px;padding: 5px;"><i class="fas fa-map-marker"></i>&nbsp;{{item.location}}</td>
                    </tr>
                    <tr> 
                      <td style="min-width: 350px;padding: 5px;"><i class="fas fa-laptop-code"></i>&nbsp;&nbsp;{{ item.position}}</td>
                      <td style="padding: 5px;"><i class="fas fa-calendar fa-sm"></i>&nbsp; {{item.from}} - {{item.to}}</td>
                    </tr>
                  </table>
                  <div class="education-break" style="padding: 10px;"></div>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div>
