<figure>
{% if include.path contains 'youtu.be' or include.path contains 'youtube.com' %}
  
  <div {% if include.class %}class="{{ include.class }}"{% endif %}>
    <iframe src="{{ include.path }}" 
      allowfullscreen
    ></iframe>
  </div>

  {% if include.caption -%}
    <figcaption class="caption">{{ include.caption }}</figcaption>
  {%- endif %}

{% else %}

  <picture>
    <!-- If file is mp4 use video container -->
    {% if include.path contains '.mp4' %}
      {%- assign media_path = include.path | remove: ".mp4" -%}
      <video 
        src="{{ include.path | relative_url }}" 
        {% if include.class %}class="{{ include.class }}"{% endif %}  
        {% if include.width %}width="{{ include.width }}"{% else %}width="auto"{% endif %} 
        {% if include.height %}height="{{ include.height }}"{% else %}height="auto"{% endif %} 
        {% if include.min-width %}min-width="{{ include.min-width }}"{% endif %} 
        {% if include.min-height %}min-height="{{ include.min-height }}"{% endif %} 
        {% if include.max-width %}max-width="{{ include.max-width }}"{% endif %} 
        {% if include.max-height %}height="{{ include.max-height }}"{% endif %} 
        {% if include.title %}title="{{ include.title }}"{% endif %} 
        {% if include.controls %}controls{% endif %} 
        {% if include.loop %}loop{% endif %}
      ></video>

    {% else %}

      <!-- Display image -->
      {%- assign img_path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" -%}
      
      {% if site.imagemagick.enabled %}
        {% for i in site.imagemagick.widths -%}
          <source 
            class="responsive-img-srcset"
            media="(max-width: {{ i }}px)" 
            srcset="{{ img_path | relative_url }}-{{ i }}.webp"
          />
        {% endfor -%}
      {% endif %}
  
      <!-- Fallback to the original file -->
      <img 
        src="{{ include.path | relative_url }}"
        {% if include.class %}class="{{ include.class }}"{% endif %}  
        {% if include.width %}width="{{ include.width }}"{% else %}width="auto"{% endif %} 
        {% if include.height %}height="{{ include.height }}"{% else %}height="auto"{% endif %} 
        {% if include.min-width %}min-width="{{ include.min-width }}"{% endif %} 
        {% if include.min-height %}min-height="{{ include.min-height }}"{% endif %} 
        {% if include.max-width %}max-width="{{ include.max-width }}"{% endif %} 
        {% if include.max-height %}height="{{ include.max-height }}"{% endif %} 
        {% if include.title %}title="{{ include.title }}"{% endif %} 
        {% if include.zoomable %}data-zoomable{% endif %}
        onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
      />

      {%- if include.caption -%}
        <figcaption class="caption">{{ include.caption }}</figcaption>
      {%- endif %}

    {%- endif %}
  </picture>
{% endif %}
</figure>
