{%- assign img_path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" -%}

<figure>

  <picture>
    {% if site.imagemagick.enabled %}
    {% for i in site.imagemagick.widths -%}
      <source 
        class="responsive-img-srcset"
        media="(max-width: {{ i }}px)" 
        srcset="{{ img_path | relative_url }}-{{ i }}.webp"
      />
    {% endfor -%}
    {% endif %}

    <!-- Fallback to the original file -->
    <img 
      src="{{ include.path | relative_url }}"
      {% if include.class %}class="{{ include.class }}"{% endif %}  
      {% if include.alt %}alt="{{ include.alt }}"{% endif %} 
      {% if include.title %}title="{{ include.title }}"{% endif %} 
      {% if include.zoomable %}data-zoomable{% endif %}
      onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
         width="3px"
         
    />

  </picture>

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</figure>


{{ include.path | relative_url }}
{{ include.class }}
{{ include.width }}
{{ include.height }}
{{ include.min-width }}
{{ include.min-height }}
{{ include.max-width }}
{{ include.max-height }}
{{ include.alt }}
{{ include.title }}
{{ include.margin }}


