    {% if site.footer_fixed %}
    <footer class="fixed-bottom text-center">
      <div class="container mt-0">
        &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} &nbsp; {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %Y' }}
        {%- endif %}
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5 text-center">
      <div class="container">
      <p style="font-size:0.9em;">
        Copyright &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} 
          {%- if site.last_updated -%}
          Last updated: {{ "now" | date: '%B %Y' }}
          {%- endif %}
          <br> 
          Theme <a href="https://github.com/sfanzon/sfanzon.github.io">customized</a> from <a href="https://github.com/alshedivat/al-folio">al-folio</a>
      </p>  
      </div>  
    </footer>
    {%- endif %}