
{% if site.footer_fixed %}
<div id="footer-wrapper" class="fixed-bottom">
  <div id="ihavecookiePlaceholder" class="mr-sm-4"></div>
  <footer class="fixed_footer">
    <div class="container mt-0">
      &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.
      {{ site.footer_text }}
      {% if site.impressum_path %}
      <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
      Last updated: {{ "now" | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
</div>
{% else %}
<div id="footer-wrapper" class="fixed-bottom">
  <div id="ihavecookiePlaceholder" class="mr-sm-4"></div>
</div>
<footer class="sticky-bottom mt-5 sticky_footer">
  <div class="container">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.
    {{ site.footer_text }}
    {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    {% if site.last_updated %}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}
  </div>
</footer>
{% endif %}
