<!-- _includes/members.html -->
<div class="grid-sizer"></div>
<div class="grid-item" style="height: 420px;">
  {% if member.redirect -%}
  <a href="{{ member.redirect }}">
    {%- else -%}
    {% if member.page %}
    <a href="{{ member.url | relative_url }}">
    {% endif %}
      {%- endif %}
      {% if member.page %}
        <div class="member-card hoverable">
      {% else %}
        <div class="member-card">
      {% endif %}
        {%- if member.img %}
        {%- include figure.html
          path=member.img
          alt="thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title">{{ member.name }}</h2>
          <!--<p class="card-text">{{ member.description }}</p>-->
          {%- if member.research_interest %}
            <!--<p class="card-sub-title">Research Interests</p>-->
            <p class="card-text">{{ member.research_interest }}</p>
          {%- endif %}
          <div class="row ml-1 mr-1 p-0">
            
          </div>
        </div>
      </div>
    {% if member.page %}
    </a>
    {% endif %}
</div>