<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/nCX6CVP7PUM9w1yJA"
  data-title="Guitar Project Album"
  data-description="13 new items added to shared album">
  <object data="https://lh3.googleusercontent.com/JKXRQoV_Lyw1X6d1rCd3jGVlov_l-7kmJYxNojrKedNwLNV9XWyVfHTCgDFPvzenYGbXHiZCUJLCXd89t4lYF_ZWJ-cHryA8YoztJX6ti5shZ-nyhV3axxbTjjAf8WZAneXn4NNvpqI=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Ho_CKhPQoc9U62wzzd00JDiUpXGj16n25ygT-ug5V531NbUWm9Zy8GyPl3LYMyjV1d5iSRpfQ23ykSyjXn0xDWO3b8pJFLdXUiAydeeXmqUApgri6C4Bdmmpz2UpiWx8IfuRwS6oBXc=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/7GAuLmwqLPECcoIMo7mMGI_mOOa3J0DB95NXwUHQ7dhAi8DDltxrFm8Qqe46-HTKTPWpo4m9c7MABMIMuvgKVhFfNZVhwa2GkLZ-0UufnLtf-WCk3XeyLD7CWFCsMkrS1nVJi8hWYSs=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/4ZL7-P_DILxsNr2Ue52SKdSFYmCETNvLtD3qDtNgaUJwuJ0f8rNVnJVRMg8eyy6ZH9Kzn-QxlUTbvR5KKgLH8pyZGzcVD9RZu9tKgK6OFZRYi6Nxtd-xYnn9JDw8aiP8IS2H1-v-Aks=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/80_cwnMpgIVikWCl-wpHEprWXSqaPx8CsRi7nfPIO8196JKLBGtealjNSFLXMKo34u0h2DvVyuIe535v4IZWMnolCGg1WN26hKSJw2vjgFb6PWeqRW3PACisNkqiFVFdJU9MHEIeFpw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/E8G7-O0WODMGm2IAk096Nk0JySFyIAbHCLRbn75yk5TFeoWPDKIeLH_mtlwwr9l6gMXXZv7EfF7-QPs7AU2Y7ei94jD535PeEzfA52CVXiCju_ODcEhzzRoOSbhL9u2uzXtebxo0J9U=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/NpovfFLt9EOHuJKWzwuXw9eckE_eLg-gvmAsd7uq3S8cCOu8u13vx6BALjn6qLefzv03-v50lJUsrYP1mZlWGr0S2f_xnBn-kIQqbnRcS2KhzswIgm6C_Ky4pnys9cHD5hkw7c8sywU=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/bXo2GBts34rd8X9yPCJUqikISxclsS01MzsV5fsqNbuQEJa7PKWosEGjb2GvqIiVtllfPOEz1HK8iPnw6mBn1SfDBGu8BmG8S1_ENlgJqFrsm7-obr7PDbf1SQMPiYjOC-azgDWKzEo=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/t0K1PoAG9l_TV63qhGdf8-VTsBwIVgDRs1oe8bogs0U7xapYh3ovT-V73B_vznZgnki3iHvc6alkiPUzhpxCv4Ef2uccT_DA1CRT0uBG_Z_ZFfYQ7-W8MpbwdtfZy-jIYkIJc82TXCw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/YoSZe-7_SQNP5vIoJ6lI61_zuFe8xrvMj9AHygNuj-YGfeOj9ty4Y5pMlA4fEqqsN8F1c6Yw1AEWz-K63nF3Dk_0EZ_iBGlXzxCKeUsGu2_pXFopkJ7FI4tkYnK9sBOT3NMZ7UbOb2Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/bwqNQShcP1urY4oEWEbH1zC_k2TOsE5y5qRYdsHldz6m0AmbA2EiCyYVtZxtbPQE-AHuGTMi6XfTWP2TZ1mzUIr7gWTR3Q0t773ML_q2nEqieVBPuvsS4V3IPzVsjdGyDolhg6RANvM=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/zd8wDOI7W0E_wPNgIG04mZL1pMat6grFPgyBsJGgcgJqtuO_d64U6sSkRLoGYMwZHuikE_vwuFIwulpDtGbIzijogt72_aPUogOUARhkuLYOY48WwCoEeK6aSN61XKyrQPUt0J_2NvA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ylhQW4DhWWoT6MuaFrV0T3peR1pyNM4xDFerDMxqOqntjl2lNEl_tvwwYVXliB-BniK7DumCd-rGPSG9GwBG-Zqa1tN4bIkE2hGdmnTd1fFwY5Ah6mGzUxZDGzSyisTCrq7rnF3Sv_Y=w1920-h1080"></object>
</div>
