
    <header>

      <!-- Nav Bar -->
      <nav id="navbar" class="navbar navbar-light navbar-expand-sm fixed-top">
        <div class="container">
          <!-- Navbar Toggle -->
          <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>

          <div class="collapse navbar-collapse text-right" id="navbarNav">
            <ul class="navbar-nav ml-auto flex-nowrap">

              <!-- About -->
              <li class="nav-item active">
                <a class="nav-link" href="/">About
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <!-- About
              <li class="nav-item active">
                <a class="nav-link" href="/cv/">CV
                  <span class="sr-only">(current)</span>
                </a>
              </li>  -->              
              <!-- Blog 
              <li class="nav-item">
                <a class="nav-link" href="/blog/"> Blog </a>
                <span class="sr-only">(current)</span>
              </li> -->

              <!-- Other pages
              <li class="nav-item">
                <a class="nav-link" href="/projects/"> Projects </a>
                <span class="sr-only">(current)</span>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/publications/"> Publications </a>
                <span class="sr-only">(current)</span>
              </li> -->

              <!-- Toogle theme mode -->
              <li class="toggle-container">
                <button id="light-toggle" title="Change theme">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
{% if site.enable_progressbar %}
      <!-- Scrolling Progress Bar -->
      <progress id="progress" value="0">
        <div class="progress-container">
          <span class="progress-bar"></span>
        </div>
      </progress>
{%- endif %}
    </header>
