<h4 id="highlights">Highlights</h4>

<ol>
  <li>
    I will continue pursuing my PhD degree at SUSTech-CityU joint programme.
  </li>
</ol>

<!-- <h4 id="preprints">Preprints</h4> -->

<!-- <ol> -->

  <!-- <li>Yidong Wang, Bowen Zhang, Wenxin Hou, Zhen Wu, <u>Jindong Wang</u><sup>#</sup>, Takahiro Shinozaki. Margin Calibration for Long-Tailed Visual Recognition. arXiv preprint arXiv:2112.07225. [<a href="https://arxiv.org/abs/2112.07225"
      target="_blank" rel="noopener noreferrer">arXiv</a>]</li> -->

<!-- </ol> -->