<h4 id="highlights">Highlights</h4>

<ol>
  <li>Four of my papers are highly cited and ranked top 20 globally in recent 5 years in Google scholar metrics! See <a
      href="https://zhuanlan.zhihu.com/p/421192644" target="_blank" rel="noopener noreferrer">here</a>.</li>
  <li>I wrote a popular book <a href="http://jd92.wang/tlbook" target="_blank" rel="noopener noreferrer">迁移学习导论</a> to
    make it easy to learn, understand, and use transfer learning.</li>
  <li>I lead the most popular transfer learning and semi-supervised learning projects on Github: <a
      href="https://github/jindongwang/transferlearning" target="_blank" rel="noopener noreferrer">Transfer learning
      repo</a> <a href="https://github/jindongwang/transferlearning" target="_blank" rel="noopener noreferrer"><img
        src="/assets/img/transferlearning-repo-star.jpg" alt="Transfer learning repo"></a> and <a
      href="https://github/torchssl/torchssl" target="_blank" rel="noopener noreferrer">Semi-supervised learning
      repo</a> <a href="https://github/stars/torchssl/torchssl" target="_blank" rel="noopener noreferrer"><img
        src="/assets/img/torchssl-star.jpg" alt="SSL repo"></a>
  </li>
  <li>
    I was selected into the list of <a href="https://www.aminer.cn/ai2000?domain_ids=5dc122672ebaa6faa962c2a4">2022 AI 2000 Most Influential Scholars</a> by AMiner in recognition of my contributions in the field of multimedia between 2012-2021 (ranked 49/2000)
  </li>
</ol>

<h4 id="preprints">Preprints</h4>

<ol>

  <li>Yidong Wang, Bowen Zhang, Wenxin Hou, Zhen Wu, <u>Jindong Wang</u><sup>#</sup>, Takahiro Shinozaki. Margin Calibration for Long-Tailed Visual Recognition. arXiv preprint arXiv:2112.07225. [<a href="https://arxiv.org/abs/2112.07225"
      target="_blank" rel="noopener noreferrer">arXiv</a>]</li>

  <li>Yiqiang Chen, Wang Lu, <u>Jindong Wang</u>, Xin Qin, and Tao Qin. Federated Learning with Adaptive Batchnorm for
    Personalized Healthcare. arXiv preprint arXiv:2112.00734. [<a href="https://arxiv.org/abs/2112.00734"
      target="_blank" rel="noopener noreferrer">arXiv</a>]</li>
  <li>
    <u>Jindong Wang</u>, Wenjie Feng, Chang Liu, Chaohui Yu, Mingxuan Du, Renjun Xu, Tao Qin, and Tie-Yan Liu. Learning
    Invariant Representations across Domains and Tasks. arXiv preprint arXiv:2103.05114. [<a
      href="https://arxiv.org/abs/2103.05114" target="_blank" rel="noopener noreferrer">arXiv</a>]
  </li>
  <li>Chaohui Yu, <u>Jindong Wang</u><sup>#</sup>, Chang Liu, Tao Qin, Renjun Xu, Wenjie Feng, Yiqiang Chen, and Tie-Yan
    Liu. Learning to match distributions for domain adaptation. arXiv preprint arXiv:2007.10791. [<a
      href="http://arxiv.org/abs/https://arxiv.org/abs/2007.10791" target="_blank" rel="noopener noreferrer">arXiv</a>]
  </li>
</ol>