<div class="col mb-4">
<div class="card h-100 member-card d-flex flex-row rounded">
    <!-- Member image with modal trigger -->
    <!-- <img src="{%- if member.image %}{{ member.image | relative_url }}{% else %}{{ 'assets/members/placeholder.png' | relative_url }}{% endif %}" class="card-img-top member-image" alt="{{ member.name }}'s Profile Picture" data-toggle="modal" data-target="#memberinfo-{{ forloop.index }}"> -->
    <img src="{%- if member.image %}{{ member.image | relative_url }}{% else %}{{ 'assets/members/placeholder.png' | relative_url }}{% endif %}"
        class="member-image rounded-left align-self-center" 
        alt="{{ member.name }}'s Profile Picture" 
        data-toggle="modal" data-target="#memberinfo-{{ forloop.index }}" 
        style="width: 120px; height: 120px; object-fit: cover; margin-right: 15px;">
    <div class="card-body align-self-center">
        <h5 class="card-title">{{ member.name }}</h5>
        <p class="card-text">{{ member.position }}</p>
    </div>
    <!-- Member modal content -->
    <div class="modal fade" id="memberinfo-{{ forloop.index }}" tabindex="-1" aria-labelledby="memberinfo-label{{ forloop.index }}" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-bold" id="memberinfo-llabel{{ forloop.index }}">{{ member.name }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="{%- if member.image %}{{ member.image | relative_url }}{% else %}{{ 'assets/members/placeholder.png' | relative_url }}{% endif %}" 
                        class="float-left d-flex mr-2" 
                        alt="{{ member.name }}'s Profile Picture" 
                        style="width: 300px; height: 300px;">
                    <p>{{ member.description | markdownify }}</p>
                    {% if member.start-date %}
                        <p><small class="text-muted">Joined the lab on {{ member.start-date }}</small></p>
                    {% endif %}
                    <!-- Add other member information here -->
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-center">
                        {% if member.email %}<a class="mr-1 text-dark" href="mailto:{{ member.email | encode_email }}"><i class="fa-xl fas fa-envelope"></i></a>{% endif %}
                        {% if member.orcid_id %}<a class="mr-1 text-dark" href="https://orcid.org/{{ member.orcid_id }}" target="_blank" title="ORCID"><i class="fa-xl fab fa-orcid""></i></a>{% endif %}
                        {% if member.scholar_userid %}<a class="mr-1 text-dark" href="https://scholar.google.com/citations?user={{ member.scholar_userid }}" target="_blank" title="Google Scholar"><i class="fa-xl fas fa-graduation-cap"></i></a>{% endif %}
                        {% if member.research_gate_profile %}<a class="mr-1 text-dark" href="https://www.researchgate.net/profile/{{member.research_gate_profile}}/" target="_blank" title="ResearchGate"><i class="fa-xl fab fa-researchgate"></i></a>{% endif %}
                        {% if member.github_username %}<a class="mr-1 text-dark" href="https://github.com/{{ member.github_username }}" target="_blank" title="GitHub"><i class="fa-xl fab fa-github"></i></a>{% endif %}
                        {% if member.linkedin_username %}<a class="mr-1 text-dark" href="https://www.linkedin.com/in/{{ member.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fa-xl fab fa-linkedin"></i></a>{% endif %}
                        {% if member.twitter_username %}<a class="mr-1 text-dark" href="https://twitter.com/{{ member.twitter_username }}" target="_blank" title="Twitter"><i class="fa-xl fab fa-twitter"></i></a>{% endif %}
                        {% if member.medium_username %}<a class="mr-1 text-dark" href="https://medium.com/@{{ member.medium_username }}" target="_blank" title="Medium"><i class="fa-xl fab fa-medium"></i></a>{% endif %}
                        {% if member.quora_username %}<a class="mr-1 text-dark" href="https://www.quora.com/profile/{{ member.quora_username }}" target="_blank" title="Quora"><i class="fa-xl fab fa-quora"></i></a>{% endif %}
                        {% if member.blogger_url %}<a class="mr-1 text-dark" href="{{ member.blogger_url }}" target="_blank" title="Blogger"><i class="fa-xl fab fa-blogger-b"></i></a>{% endif %}
                        {% if member.work_url %}<a class="mr-1 text-dark" href="{{ member.work_url }}" target="_blank" title="Work"><i class="fa-xl fas fa-briefcase"></i></a>{% endif %}
                        {% if member.wikidata_id %}<a class="mr-1 text-dark" href="https://www.wikidata.org/wiki/{{ member.wikidata_id }}" target="_blank" title="Wikidata"><i class="fa-xl fas fa-barcode"></i></a>{% endif %}
                        {% if member.strava_userid %}<a class="mr-1 text-dark" href="https://www.strava.com/athletes/{{ member.strava_userid }}" target="_blank" title="Strava"><i class="fa-xl fab fa-strava"></i></a>{% endif %}
                        {% if member.keybase_username %}<a class="mr-1 text-dark" href="https://keybase.io/{{ member.keybase_username }}" target="_blank" title="Keybase"><i class="fa-xl fab fa-keybase"></i></a>{% endif %}
                        {% if member.gitlab_username %}<a class="mr-1 text-dark" href="https://gitlab.com/{{ member.gitlab_username }}" target="_blank" title="GitLab"><i class="fa-xl fab fa-gitlab"></i></a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>