<div class="news">
  <h2>{% t global.news %}</h2>
  {% if site.news != blank -%}
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      {%- assign news = site.news | reverse -%} {% for item in news limit:
      site.news_limit %}
      <tr>
        <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
        <td>
          {% if item.inline -%} {{ item.content | remove: '
          <p>' | remove: '</p>
          ' | emojify }} {%- else -%}
          <a class="news-title" href="{% tl item.namespace %}"
            >{% if item.title-i18n != nil and item.title-i18n != '' %} {% t
            item.title-i18n %} {% else %} {{item.title}} {% endif %}</a
          >
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </table>
  </div>
  {%- else -%}
  <p>({% t global.no-news %})</p>
  {%- endif %}
</div>
