          
          <div class="next_events">
            <h2>Next Events</h2>
            {% if site.next_events != blank -%} 
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign next_events = site.next_events | reverse -%}
              {% for item in next_events %} 
                <tr>
                  <th nowrap scope="row" style="width:10%">{{ item.semester}}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="next_events-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No events so far...</p>
          {%- endif %} 
          </div>
