<!-- _includes/people.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if person.redirect -%}
  <a href="{{ person.redirect }}">
    {%- else -%}
    <a href="{{ person.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if person.img %}
        {%- include figure.html
          path=person.img
          alt="person thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ person.title }}</h2>
          <p class="card-text">{{ person.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if person.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ person.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if person.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ person.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </a>
</div>