<div class="d-flex flex-row">
  <div class="d-flex flex-column flex-grow-1">
    <h3 class="mb-1">{{ include.person.name }}</h3>
    <h6>{{ include.person.title }}</h6>
  </div>
  <div class="p-2 align-self-end" style="font-size: 2em">
    {% if include.person.email %}
    <a href="mailto:{{ include.person.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
    {% endif %}
    {% if include.person.github_username %}
    <a href="https://github.com/{{ include.person.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
    {% endif %} 
    {%- if include.person.gitlab_username -%}
    <a href="https://gitlab.com/{{ include.person.gitlab_username }}" title="GitLab"><i class="fab fa-gitlab"></i></a>
    {% endif %}
    {%-if include.person.linkedin_username %}
    <a href="https://www.linkedin.com/in/{{ include.person.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    {% endif %}
    {% if include.person.work_url %}
    <a href="{{ include.person.work_url }}" title="Work"><i class="fas fa-globe"></i></a>
    {% endif %}
  </div>
</div>

<hr class="mt-0">

<div class="container mb-5">
  <div class="row">
    <div class="col-sm-5 mb-2">
			<img src="{{ include.person.pfp}}" class="img-fluid rounded">
    </div>
    <div class="col-sm-7">
      {{ include.person.body }}
    </div>
  </div>
</div>
