<!-- _includes/person.html -->

<div class="row team-member">
    <div class="col-12 col-md-4">
        {%- if person.avatar %}
            <img src="{{ person.avatar | relative_url }}" />
        {%- endif %}
    </div>
    <div class="col-12 col-md-8">
      <h2 class="person-name">{{ person.name }}</h2>
      <div>
        <div class="person-position">{{ person.position }}</div>
        {%- if person.research-interests -%}
            <div class="person-interests"><b>Research Interests: </b>{{ person.research-interests }}</div>
        {%- endif -%}
        {%- if person.education -%}
            {% for course in person.education.courses %}
                {%- capture c -%}
                    {{ course.level }} {{ course.course }}, {{ course.institution }}, {{ course.year }}
                {%- endcapture -%}
                {%- if forloop.index == 1 -%}
                    {%- capture education -%}{{ c }}{%- endcapture -%}
                {%- else -%}
                    {%- capture education -%}{{ education }}; {{ c }}{%- endcapture -%}
                {%- endif -%}
            {% endfor %}
            <div><b>Education: </b>{{ education }}</div>
        {%- endif -%}
      </div>

      <div class="row ml-1 mr-1 p-0">
        {%- if person.redirect -%}
        <div class="email-icon icon-item">
          <div class="icon" data-toggle="tooltip" title="Website">
            <a href="{{ person.redirect }}"><i class="fas fa-link fa-xl"></i></a>
          </div>
        </div>
        {%- endif -%}
        {%- if person.email -%}
        <div class="email-icon icon-item">
          <div class="icon" data-toggle="tooltip" title="Email">
            <a href="mailto:{{ person.email }}"><i class="fas fa-envelope fa-xl"></i></a>
          </div>
        </div>
        {%- endif -%}
        {%- if person.twitter -%}
        <div class="email-icon icon-item">
          <div class="icon" data-toggle="tooltip" title="Twitter">
            <a href="{{ person.twitter }}"><i class="fab fa-twitter fa-xl"></i></a>
          </div>
        </div>
        {%- endif %}
        {%- if person.scholar -%}
        <div class="email-icon icon-item">
          <div class="icon" data-toggle="tooltip" title="Scholar">
            <a href="{{ person.scholar }}"><i class="fas fa-graduation-cap fa-xl"></i></a>
          </div>
        </div>
        {%- endif %}
        {%- if person.github -%}
        <div class="github-icon icon-item">
          <div class="icon" data-toggle="tooltip" title="GitHub">
            <a href="{{ person.github }}"><i class="fab fa-github gh-icon fa-xl"></i></a>
          </div>
        </div>
        {%- endif %}
      </div>

    </div>
</div>