
    <!-- _includes/places.html -->
    <div class="grid-item">
      {% if place.redirect -%}
      <a href="{{ place.redirect }}">
      {%- else -%}
      <a href="{{ place.url | relative_url }}">
      {%- endif %}
        <div class="card hoverable">
          {%- if place.img %}
            {%- include figure.html 
              path=place.img 
              alt="Thumbnail" class="img-fluid rounded z-depth-0" -%}
          {%- endif %}
          <div class="card-body">
            <h2 class="card-title text-capitalize">{{ place.title }}</h2>
            <h3 class="card-text">{{ place.description }}</h3>
          </div>
        </div>
      </a>
    </div>