<script src="/assets/lib/htmlwidgets-1.5.2/htmlwidgets.js"></script>
<script src="/assets/lib/plotly-binding-4.9.2.1/plotly.js"></script>
<script src="/assets/lib/typedarray-0.1/typedarray.min.js"></script>
<script src="/assets/lib/jquery-1.11.3/jquery.min.js"></script>
<link href="/assets/lib/crosstalk-1.1.0.1/css/crosstalk.css" rel="stylesheet" />
<script src="/assets/lib/crosstalk-1.1.0.1/js/crosstalk.min.js"></script>
<link href="/assets/lib/plotly-htmlwidgets-css-1.52.2/plotly-htmlwidgets.css" rel="stylesheet" />
<script src="/assets/lib/plotly-main-1.52.2/plotly-latest.min.js"></script>
