<div class="grid-sizer"></div>
<div class="grid-item">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title text-lowercase">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
      </div>
    </div>
  </a>
</div>
