<table>
 <thead>
  <tr>
   <th style="text-align:left;"> Firm </th>
   <th style="text-align:left;"> Commissioners </th>
   <th style="text-align:left;"> Start </th>
   <th style="text-align:left;"> End </th>
   <th style="text-align:left;"> Sample </th>
   <th style="text-align:left;"> PSD </th>
   <th style="text-align:left;"> PNL </th>
   <th style="text-align:left;"> UDMR </th>
   <th style="text-align:left;"> PMP </th>
   <th style="text-align:left;"> PRO </th>
   <th style="text-align:left;"> USR.PLUS </th>
   <th style="text-align:left;"> AUR </th>
   <th style="text-align:left;"> Other </th>
   <th style="text-align:left;"> Source </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> IRES </td>
   <td style="text-align:left;"> STIRIPESURSE.RO </td>
   <td style="text-align:left;"> 02/12/2020 </td>
   <td style="text-align:left;"> 03/12/2020 </td>
   <td style="text-align:left;"> 1067 </td>
   <td style="text-align:left;"> 35% </td>
   <td style="text-align:left;"> 32% </td>
   <td style="text-align:left;"> 3% </td>
   <td style="text-align:left;"> 3% </td>
   <td style="text-align:left;"> 7% </td>
   <td style="text-align:left;"> 16% </td>
   <td style="text-align:left;"> 3% </td>
   <td style="text-align:left;"> 1% </td>
   <td style="text-align:left;"> https://en.wikipedia.org/wiki/2020_Romanian_legislative_election#Party_vote </td>
  </tr>
  <tr>
   <td style="text-align:left;"> PMP </td>
   <td style="text-align:left;"> PMP </td>
   <td style="text-align:left;"> 01/12/2020 </td>
   <td style="text-align:left;"> 01/12/2020 </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> 31% </td>
   <td style="text-align:left;"> 28% </td>
   <td style="text-align:left;"> 6% </td>
   <td style="text-align:left;"> 6% </td>
   <td style="text-align:left;"> 5% </td>
   <td style="text-align:left;"> 21% </td>
   <td style="text-align:left;"> 2% </td>
   <td style="text-align:left;"> 1% </td>
   <td style="text-align:left;"> https://en.wikipedia.org/wiki/2020_Romanian_legislative_election#Party_vote </td>
  </tr>
  <tr>
   <td style="text-align:left;"> PRO </td>
   <td style="text-align:left;"> PRO </td>
   <td style="text-align:left;"> 30/11/2020 </td>
   <td style="text-align:left;"> 30/11/2020 </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> 22% </td>
   <td style="text-align:left;"> 31% </td>
   <td style="text-align:left;"> 5% </td>
   <td style="text-align:left;"> 3% </td>
   <td style="text-align:left;"> 7.80% </td>
   <td style="text-align:left;"> 17% </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> 14.20% </td>
   <td style="text-align:left;"> https://en.wikipedia.org/wiki/2020_Romanian_legislative_election#Party_vote </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Sociopol </td>
   <td style="text-align:left;"> STIRIPESURSE.RO </td>
   <td style="text-align:left;"> 28/11/2020 </td>
   <td style="text-align:left;"> 29/11/2020 </td>
   <td style="text-align:left;"> 1033 </td>
   <td style="text-align:left;"> 28% </td>
   <td style="text-align:left;"> 29% </td>
   <td style="text-align:left;"> 6% </td>
   <td style="text-align:left;"> 3% </td>
   <td style="text-align:left;"> 6% </td>
   <td style="text-align:left;"> 13% </td>
   <td style="text-align:left;"> 7% </td>
   <td style="text-align:left;"> 8% </td>
   <td style="text-align:left;"> https://en.wikipedia.org/wiki/2020_Romanian_legislative_election#Party_vote </td>
  </tr>
  <tr>
   <td style="text-align:left;"> IMAS </td>
   <td style="text-align:left;"> Europa FM </td>
   <td style="text-align:left;"> 06/11/2020 </td>
   <td style="text-align:left;"> 27/11/2020 </td>
   <td style="text-align:left;"> 1010 </td>
   <td style="text-align:left;"> 24% </td>
   <td style="text-align:left;"> 28.50% </td>
   <td style="text-align:left;"> 4.70% </td>
   <td style="text-align:left;"> 4.60% </td>
   <td style="text-align:left;"> 9.50% </td>
   <td style="text-align:left;"> 18% </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> https://ro.wikipedia.org/wiki/Alegeri_parlamentare_%C3%AEn_Rom%C3%A2nia,_2020#Sondaje_%C8%99i_predic%C8%9Bii </td>
  </tr>
  <tr>
   <td style="text-align:left;"> IRSOP </td>
   <td style="text-align:left;"> PNL </td>
   <td style="text-align:left;"> 22/11/2020 </td>
   <td style="text-align:left;"> 28/11/2020 </td>
   <td style="text-align:left;"> 1004 </td>
   <td style="text-align:left;"> 30% </td>
   <td style="text-align:left;"> 33% </td>
   <td style="text-align:left;"> 5% </td>
   <td style="text-align:left;"> 3% </td>
   <td style="text-align:left;"> 7% </td>
   <td style="text-align:left;"> 17% </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> 5% </td>
   <td style="text-align:left;"> https://ro.wikipedia.org/wiki/Alegeri_parlamentare_%C3%AEn_Rom%C3%A2nia,_2020#Sondaje_%C8%99i_predic%C8%9Bii </td>
  </tr>
</tbody>
</table>
