<div class="card mt-3 p-3">
<p class="text-center" style="font-weight: bolder;">
✨Recruiting✨
</p>
<p class="text-center">
  I will be advertising a PhD position and a PDRA (postdoc) position with start dates in autumn 2024 (or earlier). If you or someone that you know might be interested please feel free to <a href="mailto:{{ site.email }}">get in touch</a>!
</p>
<p class="text-center">
  ➡️<a href="/recruiting_phd">PhD project outline</a>⬅️
  <br>
  ➡️<a href="/recruiting_pdra">PDRA position outline</a>⬅️
</p>
</div>
<br>
