{% assign max_related_counter = 0 %}
{% assign have_related_posts = false %}

{% for post in site.posts %}
  {% assign same_tag_count = 0 %}

  {% for tag in post.tags %}
    {% if post.url != page.url %}
      {% if page.tags contains tag %}
        {% assign same_tag_count = same_tag_count | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if same_tag_count >= site.related_blog_posts.min_common_tags %}
    {% unless have_related_posts %}
      {% assign have_related_posts = true %}

  <br>
  <hr>
  <br>
  <ul class="list-disc pl-8"></ul>

  <!-- Adds related posts to the end of an article -->
  <h2 class="text-3xl font-semibold mb-4 mt-12">Enjoy Reading This Article?</h2>
  <p class="mb-2">Here are some more articles you might like to read next:</p>
    {% endunless %}

  <li class="my-2">
    <a class="text-pink-700 underline font-semibold hover:text-pink-800" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </li>

  {% assign max_related_counter = max_related_counter | plus: 1 %}

  {% if max_related_counter >= site.related_blog_posts.max_related %}
    {% break %}
  {% endif %}

  {% endif %}
{% endfor %}

{% if max_related_counter > 0 %}
</ul>
{% endif %}