
          <div class="publications">
            <h2>interesting projects</h2>
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
               
                <tbody><tr>
                  <th scope="row">Dec 4, 2022</th>
                  <td>
                    A <a href="https://github.com/CocoYard/microtubule-tracking"> microtubule-tracking applet </a> to help the biologists track the microtubules' segmentation.
                  </td>
                </tr> 
              </tbody></table>
            </div>
            <video controls width="60%">
              <source src="https://user-images.githubusercontent.com/98336316/206876735-db05ef55-8522-4465-ba2e-6737c2d04b37.mp4"
                      type="video/webm">
            </video>
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
               
                <tbody><tr>
                  <th scope="row">Dec 4, 2022</th>
                  <td>
                    A <a href="https://github.com/CocoYard/microtubule-tracking"> microtubule-tracking applet </a> to help the biologists track the microtubules' segmentation.
                  </td>
                </tr> 
              </tbody></table>
            </div>
          </div>
