            {%- if site.email -%}
            <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
            {% endif %}

            {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
            {% endif %}

            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            {% endif %}
            <!-- 
            {%- if site.medium_username -%}
            <a href="https://medium.com/@{{ site.medium_username }}" title="Medium"><i class="fab fa-medium"></i></a>
            {% endif %}
             -->

            {%- if site.strava_userid -%}
            <a href="https://www.strava.com/athletes/{{ site.strava_userid }}" title="Strava"><i class="fab fa-strava"></i></a>
            {% endif %}

            {%- if site.stackoverflow_id -%}
            <a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}" title="Stackoverflow"><i class="fab fa-stack-overflow"></i></a>
            {% endif %}

            {%- if site.kaggle_id -%}
            <a href="https://www.kaggle.com/{{ site.kaggle_id }}" title="Kaggle"><i class="fab fa-kaggle"></i></a>
            {% endif %}

            {%- if site.spotify_id -%}
            <a href="https://open.spotify.com/user/{{ site.spotify_id }}" title="Last FM"><i class="fab fa-spotify"></i></a>
            {% endif %}

            {%- if site.instagram_id -%}
            <a href="https://instagram.com/{{ site.instagram_id }}" title="Instagram"><i class="fab fa-instagram"></i></a>
            {% endif %}

            {%- if site.facebook_id -%}
            <a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook"><i class="fab fa-facebook"></i></a>
            {% endif %}
            
            {%- if site.youtube_id -%}
            <a href="https://youtube.com/@{{ site.youtube_id }}" title="YouTube"><i class="fab fa-youtube"></i></a>
            {% endif %}
