<!-- _includes/student_theses.html -->
{% if thesis.redirect -%}
<a href="{{ thesis.redirect }}">
{%- else -%}
<a href="{{ thesis.url | relative_url }}">
{%- endif %}
  <div class="card hoverable">
    <div style="display: flex; flex-direction: row;">
        <div style="flex: 0 0 20%;">
            {%- if thesis.thumbnail %}
            <img class="thumbnail" src="{{ thesis.thumbnail}}"/>
            {%- endif %}
        </div>
        <div class="card-body" style="min-height: 10em">
            <div>
                <h2 class="card-title text-lowercase">{{ thesis.title }}</h2>
                    {%- if thesis.type %}
                <p class="card-text text-uppercase">{{ thesis.type }}</p>
                {%- endif %}
                <p class="card-text">
                    {{ thesis.description }}
                </p>
            </div>
        </div>
    </div>
  </div>
</a>
