/*******************************************************************************
 * Custom styles for COMMA site
 ******************************************************************************/

.people img {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.people .post-title {
  padding-bottom: 0.75em;
}

.post-title {
  margin-top: 30px;
}

.team-member.row {
  padding-bottom: 50px;
}

.team-member .icon {
  font-size: 1.25em;
  padding-top: 10px;
  padding-right: 10px;
}

.person-position {
  margin-bottom: 0em;
}

.person-interests {
  margin-bottom: 0em;
}

.grid-item-people {
  padding: 5px;
}

.grid-item-people > .card {
  height: 100%;
}

.card-title {
  margin-top: -27px;
  margin-bottom: 2px;
 // margin-left: -5px;
}

//.card-text {
//  margin-left: -5px;
//}

.card-body {
  margin-bottom: -15px;
  margin-left: -10px;
}











