/*******************************************************************************
 * Custom styles for COMMA site
 ******************************************************************************/

.people img {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.people .post-title {
  padding-bottom: 0.75em;
}

.team-member.row {
  padding-bottom: 50px;
}

.team-member .icon {
  font-size: 1.75em;
  padding-top: 10px;
  padding-right: 10px;
}

.person-position {
  margin-bottom: 1.5em;
}

.person-interests {
  margin-bottom: 0.5em;
}
