.site-header {
    border-bottom: 1px solid $grey-color-light;
    background-color: #fff;
    opacity: 0.95;
    position:fixed;
    left:0px;
    top:0px;
    height:56px;
    width:100%;
    z-index: 50;
}

.site-title {
    font-size: 20px;
    line-height: $nav-height;
    letter-spacing: -1px;
    margin-bottom: 0;
}
.site-nav {
    float: right;
    line-height: $nav-height;
    .page-link{
        line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
    @include media-query($on-palm) {
        position: fixed;
        top: 0px;
        right: 10px;
        text-align: right;
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: line;
        }
    }
}

.header-bar{
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    line-height: 3em;
    z-index: 25;
    h1{
        color: $theme-color;
        font-size:75px;
    }
    h2{
        font-size:25px;
    }
}
