/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   padding-bottom: 70px;
   color: var(--global-text-color);
   background-color: var(--global-bg-color);
   //font-family: "Source Sans Pro";
   font-family: "Helvetica";
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

header.post-header{
  margin-bottom: 3rem!important;
}

.container {
  max-width: $max-content-width;
}

// Profile
div.profile{
  width: 25%;
}

.profile {
  img {
    width: 100%;
  }
}

.social-top{
  text-align: right;
}

//.rounded {
//  border-radius: 7.5rem!important;
//}

// TODO: redefine content layout.

div.contact{
  line-height: 2.1;
  a{
    color: inherit;
    border-bottom: 1px dashed;
    text-decoration: none;
    margin-left: 10px;
  }
  a:hover{
    opacity: 0.6;
    transition: 0.3s;
  }
}


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
