.profile {
    img {
        box-shadow: 0 0 5px $grey-color;
        width: 100%;
    }
}
.address {
    font-family: monospace;
    font-size: small;

    p { margin: 0; }
}

.social {
    border-top: 2px solid $grey-color-light;
    margin-top: 50px;
    padding-top: 20px;
}
