/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  // navbar colors
  --global-navbar-bg-color: #{$dblue-custom-color};
  --global-navbar-brand-color: #{$dorange-custom-color};
  --global-navbar-border-color: #{$dorange-custom-color};

  // theme colors
  --global-bg-color: #{$gray-custom-color};
  --global-text-color: #{$dgreen-custom-color};
  --global-line-color: #{$dgreen-custom-color};

  --global-theme-color: #{$dorange-custom-color};
  --global-hover-color: #{$lorange-custom-color};

  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-icon-color: #{$grey-color-dark};
  --global-footer-link-color: #{$white-color};
  

  // --global-bg-color: #{$white-color};
  // --global-text-color: #{$black-custom-color};

  // --global-theme-color: #{$orange-custom-color};
  // --global-hover-color: #{$orange-custom2-color};

  // --global-footer-bg-color: #{$grey-color-dark};
  // --global-footer-text-color: #{$grey-color-light};
  // --global-icon-color: #{$grey-color-dark};

  // --global-footer-link-color: #{$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$light-cyan-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-icon-color: navajowhite;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
