/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-text-color: #{$black-color};
  --global-theme-color: #{$my-color};
  --global-hover-color: #{$my-color-light};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-icon-color: #{$grey-color-dark};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-text-color: #{$white-color};
  --global-theme-color: #{$my-color-two};
  --global-hover-color: #{$my-color-light};
  --global-footer-bg-color: #{$my-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-icon-color: #002fa7;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
