/*******************************************************************************
 * Themes
 ******************************************************************************/
@use "variables" as v;
@use "sass:color";

:root {
  color-scheme: light;
  --global-bg-color: #{v.$white-color};
  --global-code-bg-color: #{v.$code-bg-color-light};
  --global-text-color: #{v.$black-color};
  --global-text-color-light: #{v.$grey-color};
  --global-theme-color: #{v.$purple-color};
  --global-hover-color: #{v.$purple-color};
  --global-hover-text-color: #{v.$white-color};
  --global-footer-bg-color: #{v.$grey-color-dark};
  --global-footer-text-color: #{v.$grey-color-light};
  --global-footer-link-color: #{v.$white-color};
  --global-distill-app-color: #{v.$grey-color};
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #{v.$white-color};
  --global-highlight-color: #{v.$red-color-dark};
  --global-back-to-top-bg-color: rgba(
    #{color.channel(v.$black-color, "red", v.$space: rgb)},
    #{color.channel(v.$black-color, "green", v.$space: rgb)},
    #{color.channel(v.$black-color, "blue", v.$space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{v.$white-color};
  --global-newsletter-bg-color: #{v.$white-color};
  --global-newsletter-text-color: #{v.$black-color};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: v.$back-to-top-bottom;
    right: v.$back-to-top-right;
    height: v.$back-to-top-height;
    width: v.$back-to-top-width;
    z-index: v.$back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #{v.$grey-color-dark};
  --global-code-bg-color: #{v.$code-bg-color-dark};
  --global-text-color: #{v.$grey-color-light};
  --global-text-color-light: #{v.$grey-color};
  --global-theme-color: #{v.$cyan-color};
  --global-hover-color: #{v.$cyan-color};
  --global-hover-text-color: #{v.$white-color};
  --global-footer-bg-color: #{v.$grey-color-light};
  --global-footer-text-color: #{v.$grey-color-dark};
  --global-footer-link-color: #{v.$black-color};
  --global-distill-app-color: #{v.$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{v.$grey-900};
  --global-back-to-top-bg-color: rgba(
    #{color.channel(v.$white-color, "red", v.$space: rgb)},
    #{color.channel(v.$white-color, "green", v.$space: rgb)},
    #{color.channel(v.$white-color, "blue", v.$space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{v.$black-color};
  --global-newsletter-bg-color: #{v.$grey-color-light};
  --global-newsletter-text-color: #{v.$grey-color-dark};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #215d42;
  --global-tip-block-text: #beffe2;
  --global-tip-block-title: #e2f5ec;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #6b5900;
  --global-warning-block-text: #fff2af;
  --global-warning-block-title: #fff8d8;
  --global-danger-block: #c00;
  --global-danger-block-bg: #600;
  --global-danger-block-text: #ffb9b9;
  --global-danger-block-title: #ffe0e0;

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
