/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$clova-color: #03dac6 !default;
$light-clova-color:    lighten($clova-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);
$bg-dark-color:          #303030 !default;

$white-color: #ffffff !default;
$black-color: #000000 !default;

$bg-white-color: #FAFAFC !default;
$text-black-color: #262924 !default;

// BLUE - 0F3041, ORANGE - CD5F3A, GREEN - 457778, BROWN - 5B132B
$mytheme-color: #dc3e23 !default;
$light-mytheme-color:  lighten($mytheme-color, 25%);


// Theme colors

$code-bg-color-light:     rgba($mytheme-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;

