/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #981931 !default;
$red-color-dark:      #2b070e !default;
$purple-color:        #bac3e9 !default;
$purple-color-light:  #eaedf8 !default;
$gold-color:          #B99D29 !default;
$light-gold-color:    lighten($gold-color, 25%);
$teal-color:          #1D8985 !default;
$light-teal-color:    lighten($teal-color, 25%);

$sand-color:          #f9f2e3 !default;
$sand-color-light:    lighten($sand-color, 10%);
$dark-color:          #373633 !default;
$dark-color-light:    lighten($dark-color, 40%);

$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color:         #ffffff !default;
$black-color:         #000000 !default;


// Theme colors

$code-bg-color-light:      rgba($teal-color, 0.05);
$code-bg-color-dark:       #44433f !default;
