/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);

$white-color: #ffffff !default;
$black-color: #000000 !default;

$yale-blue-color: #00356b;
$yale-blue-color-light: #286dc0;
$yale-blue-color-lighter: #63aaff;

$yale-green-color: #5f712d;
$yale-orange-color: #bd5319;

$yale-black-color: #222222;
$yale-grey-color-dark: #4a4a4a;
$yale-grey-color: #978d85;
$yale-grey-color-light: #dddddd;
$yale-white-color: #f9f9f9;

$duke-navy-blue-color: #012169;
$duke-royal-blue-color: #00539B;

// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;

