<div class="repo p-2 text-center">
  <a href="https://github.com/anuraghazra/github-readme-stats">
    <img class="repo-img-light w-200" alt="{{ include.username }}" src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ include.username }}&theme={{ site.repo_theme_light }}&locale={{ site.lang }}&show_icons=true&layout=compact">
    <img class="repo-img-dark w-200" alt="{{ include.username }}" src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ include.username }}&theme={{ site.repo_theme_dark }}&locale={{ site.lang }}&show_icons=true&layout=compact">
  </a>
</div>
