---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

/* _custom.scss */

a {
  color: #722C6A; /* Tsinghua purple */
}

a:hover {
  color: #5a234f; /* Darker shade for hover effect */
}

a:active {
  color: #5a234f; /* Same as hover or another color */
}

a:visited {
  color: #722C6A; /* Same as normal link or another color */
}
