---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

* {
font-family: proxima-nova, "Proxima Nova", "Raleway", Arial, Helvetica;
font-weight: 400;
};

img.navbar {
  height: 2.5em;
  outline: none;
  border: none; 
};

img.title {
  height: 1em;
  outline: none;
  border: none; 
};

svg.ucalgary-outline-color {
  font-family: proxima-nova, "Proxima Nova", "Raleway", Arial, Helvetica;
  font-weight: 800;
}

text.ucalgary-outline-color {
  fill            : #{$uc-red-color};
  stroke          : #{$uc-gold-color};
  stroke-width    : 2px;
  stroke-linejoin : round;
}