---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

// https://stackoverflow.com/questions/41285466/how-do-i-add-add-text-below-font-awesome-icon-links/41285702

.project-summary {
  margin: 0;
  padding: 0;
}

.project-summary ul {
  margin: 0;
  padding: 5px;
  text-align: center;
  vertical-align: top;
}

.project-summary li {
  text-align: center;
  width: 19%;
  margin-bottom: 3px!important;
  background-color: #fffff;
  display: inline-block;
  margin: auto;
  font-size: 40px;
  padding:0;
  vertical-align: top;
  //border: 2px solid #eee;
}

.project-summary i {
  display: block;
  margin: 0 auto 10px auto;
	margin: 10px auto 0;
	text-align: center;
	color: var(--global-text-color);
  margin-top:0;
  padding-top:5px;
}

.project-summary a{
  text-decoration:none;
  width:100%;
  height:100%;
  display:block;
  margin:0;
  padding:0;
}

.project-summary a span{
  //color:black;
  font-size:15px;
  padding:5px 0 10px 0;
  display:block;
	font-weight:bold;
  font-family:'Josefin Sans';
  letter-spacing:1px;
}


