<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign skills = data[1]%}
  {% for content in skills %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-4 cl-sm-4 col-md-4 text-center" style="width: 75px;">
        <table class="table-cv">
          <tbody>
            <tr>
              <td class="list-group-category">
                <b>{{content.name}}</b>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
        <ul class="items">
          {% for item in content.keywords %}
          <li>
            <span class="item">{{ item }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>