.project_banner {
  width: 90%;
  margin-bottom: 40px;
  opacity: 0;
  transition: 1.6s;
}

.project_banner.animation {
  opacity: 1;
}

.project_description {
  margin: 30px 0 40px;
  font-size: 13px;
  text-align: left;
  line-height: 160%;
  opacity: 0;
  transform: translate(0, 30px);
  transition: 0.6s;
}

.project_description.animation {
  opacity: 1;
  transform: translate(0, 0);
}

.project_publications {
  margin: 0 0 80px;
  text-align: left;
  opacity: 0;
  transform: translate(0, 30px);
  transition: 0.6s;
}

.project_publications.animation {
  opacity: 1;
  transform: translate(0, 0);
}

.project_publications_title {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
}

.project_publications_list {
  margin: 0;
  padding-left: 18px;
  color: #3d3d3d;
  font-size: 12px;
  line-height: 160%;
}

.project_publications_list > li {
  margin-bottom: 8px;
}

.projects {
  margin-bottom: 100px;
}

.line {
  opacity: 0;
  width: 0px;
  margin-bottom: 50px;
  transition: 0.2s;
}

.line.animation {
  opacity: 1;
  width: 80%;
}

.unit_project {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.unit_project > .title {
  color: #3d3d3d;
  font-size: 24px;
  /* font-weight: 200; */
  text-align: left;
  opacity: 0;
  transform: translate(0, 24px);
  transition: 0.6s;
}

.unit_project > .title > .year {
  margin: 0;
  font-size: 24px;
  font-weight: 200;
  color: #3d3d3d;
  text-align: left;
  opacity: 1;
  transform: translate(0, 0);
}

.unit_project > .title.animation {
  opacity: 1;
  transform: translate(0, 0);
}

.project-title-link {
  color: inherit;
  text-decoration: none;
}

.project-title-link:hover {
  text-decoration: underline;
}

/* .unit_project > .title > .year.animation {
    opacity: 1;
    transform: translate(0, 0);    
} */

.unit_project > .people {
  color: #3d3d3d;
  margin-top: 6px;
  line-height: 160%;
  font-style: italic;
  font-size: 11px;
  text-align: left;
  opacity: 0;
  transform: translate(0, 24px);
  transition: 0.6s;
}

.unit_project > .people.animation {
  opacity: 1;
  transform: translate(0, 0);
}

.unit_project > .award {
  margin-top: 6px;
  text-align: left;
  opacity: 0;
  transform: translate(0, 24px);
  transition: 0.6s;
}

.unit_project > .award.animation {
  opacity: 1;
  transform: translate(0, 0);
}

.unit_project > .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 14px;
}

.unit_project > .content > .description {
  order: 1;
  color: #3d3d3d;
  font-size: 12px;
  text-align: left;
  line-height: 160%;
  opacity: 0;
  transform: translate(0, 24px);
  transition: 0.6s;
  margin-top: 12px;
}

.unit_project > .content > .description.animation {
  opacity: 1;
  transform: translate(0, 0);
}

.unit_project > .content > img {
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0;
  transform: translate(0, 24px);
  transition: 0.6s;
}

.unit_project > .content > img.animation {
  opacity: 1;
  transform: translate(0, 0);
}

@media (min-width: 992px) {
  .unit_project > .people {
    font-size: 14px;
  }

  .unit_project > .content {
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .unit_project > .content > .description {
    order: 0;
    font-size: 14.5px;
    line-height: 1.75;
    margin-top: 0px;
  }

  .unit_project > .content > img {
    width: 320px;
    margin-left: 40px;
    margin-top: 0px;
  }

  .project_description {
    font-size: 16px;
    text-align: justify;
  }
  .project_banner {
    width: 60%;
  }
}
