{% if site.enable_google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}


{% if site.enable_panelbear_analytics %}
<!-- Panelbear Analytics - We respect your privacy -->
<script async src="https://cdn.panelbear.com/analytics.js?site={{site.panelbear_analytics}}"></script>
<script>
    window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
    panelbear('config', { site: '{{site.panelbear_analytics}}' });
</script>
{% endif %}

<a href="https://www.easycounter.com/">
  <img src="https://www.easycounter.com/counter.php?jindongwang" border="0" alt="Hit Counter"></a>
<br>

<script type="text/javascript">
  var sc_project = 11393308;
  var sc_invisible = 0;
  var sc_security = "33768b56";
  var scJsHost = (("https:" == document.location.protocol) ?
      "https://secure." : "http://www.");
  document.write("<sc" + "ript type='text/javascript' src='" +
      scJsHost +
      "statcounter.com/counter/counter.js'></" + "script>");
</script>
<noscript>
  <div class="statcounter"><a title="web analytics" href="http://statcounter.com/" target="_blank"><img
              class="statcounter" src="//c.statcounter.com/11393308/0/33768b56/0/" alt="web
analytics"></a></div>
</noscript>
