{%- if site.enable_google_analytics -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ window.dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
{%- endif -%}

{% if site.enable_panelbear_analytics %}
<!-- Panelbear Analytics - Privacy-friendly website analytics tool -->
<script async src="https://cdn.panelbear.com/analytics.js?site={{site.panelbear_analytics}}"></script>
<script>
    window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
    panelbear('config', { site: '{{site.panelbear_analytics}}' });
</script>
<!-- Events for clicks on research and CV -->
<script>
	let buttonCV = document.getElementById("show-cv");
	buttonCV.addEventListener("click", function () {
	panelbear("track", "ShowCV");
	});
</script>
<script>
	let buttonResearch = document.getElementById("show-research");
	buttonResearch.addEventListener("click", function () {
	panelbear("track", "ShowResearch");
	});
</script>
{% endif %}

<!-- Insights Analytics - privacy-friendly (cookie-less) analytics -->
<script src="https://getinsights.io/js/insights.js"></script>
<script>
	insights.init('tAO8SOArjDvm5XhY');
	insights.trackPages();
	insights.track({id: "show-research", parameters: {showresearch: "show-research"}});
	insights.track({id: "show-cv", parameters: {showcv: "show-cv"}});
</script>


