  {%- if site.enable_masonry -%}
  <!-- Mansory & imagesLoaded -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/masonry/{{ site.masonry.version }}/masonry.pkgd.min.js" integrity="{{ site.masonry.integrity }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/{{ site.imagesloaded.version }}/imagesloaded.pkgd.min.js" integrity="{{ site.imagesloaded.integrity }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="{{ '/assets/js/mansory.js' | relative_url }}" type="text/javascript"></script>
  {%- endif -%}
