<script>
    let theme = localStorage.getItem("theme");

    /* Create mermaid diagram as another node and hide the code block, appending the mermaid node after it
       this is done to enable retrieving the code again when changing theme between light/dark */
    document.querySelectorAll('pre>code.language-mermaid').forEach((elem) => {
        const svgCode = elem.textContent;
        const backup = elem.parentElement;
        backup.classList.add('unloaded');
        /* create mermaid node */
        let mermaid = document.createElement('pre');
        mermaid.classList.add('mermaid');
        const text = document.createTextNode(svgCode);
        mermaid.appendChild(text);
        backup.after(mermaid);
    });

    mermaid.initialize({
        // startOnLoad: true,
        theme: theme,
    })
</script>