{% if site.enable_tooltips %}
  <!-- Enable Tooltips -->
  <script type="text/javascript">
  $(function () {$('[data-toggle="tooltip"]').tooltip()})
  </script>
{%- endif %}
{%- if site.enable_medium_zoom %}
  <!-- Medium Zoom JS -->
  <script defer src="https://cdn.jsdelivr.net/npm/medium-zoom@{{ site.medium_zoom.version }}/dist/medium-zoom.min.js" integrity="{{ site.medium_zoom.integrity }}" crossorigin="anonymous"></script>
  <script defer src="{{ '/assets/js/zoom.js' | relative_url }}"></script>
{%- endif -%}

  <!-- Bootstrap Table -->
  <link defer rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css">
  <script defer src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
  <script>
    $(document).ready(function() {
      $('table').each(function() {
        // only select tables that are not inside an element with "news" (about page) or "card" (cv page) class
        if($(this).parents('[class*="news"]').length==0 &&
            $(this).parents('[class*="card"]').length==0 &&
            $(this).parents('code').length == 0) {
          // make table use bootstrap-table
          $(this).attr('data-toggle','table');
          // add some classes to make the table look better
          // $(this).addClass('table-sm');
          $(this).addClass('table-hover');

          if (document.documentElement.getAttribute("data-theme") == "dark") {
            $(this).addClass('table-dark');
          } else {
            $(this).removeClass('table-dark');
          }
        }
      })
    });
  </script>

  <!-- Load Common JS -->
  <script defer src="{{ '/assets/js/common.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/copy_code.js' | relative_url }}" type="text/javascript"></script>
