{% if site.enable_tooltips %}
  <!-- Enable Tooltips -->
  <script type="text/javascript">
  $(function () {$('[data-toggle="tooltip"]').tooltip()})
  </script>
{%- endif %}
{%- if site.enable_medium_zoom %}
  <!-- Medium Zoom JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/{{ site.medium_zoom.version }}/medium-zoom.min.js" integrity="{{ site.medium_zoom.integrity }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{ '/assets/js/zoom.js' | relative_url }}"></script>
{%- endif -%}

  <!-- Load Common JS -->
  <script src="{{ '/assets/js/common.js' | relative_url }}"></script>
