---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_cicular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news -%}
    <!-- News -->
    {%- include news.html %}
    {%- endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    <h2>publications</h2>
    {% assign sorted = site.publications | sort: 'date' | reverse %}
    {% for item in sorted %}
      <div style="margin-top: 20px; border: 1px solid var(--global-bg-color); padding: 10px; border-left: 3px solid rgb(182, 182, 182);">
      <img class="img-fluid rounded z-depth-1 no-shadow" src="{{ item.teaser }}" alt="teaser" title="teaser" data-zoomable/>
      {% if item.redirect %}
        <h4><a href="{{item.redirect}}"> {{ item.title }} </a></h4>
      {% else %}
        <h4><a href="{{ item.url | relative_url }}"> {{ item.title }} </a></h4>
      {% endif %}
      {{ item.authors }} 
      <br>
      <b>{{ item.paper_info }}</b>
      </div>
    {% endfor %}

    {%- if page.social %}
    <!-- Social -->
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">
        {{ site.contact_note }}
      </div>
    </div>
    {%- endif %}
  </article>

</div>
