---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
              {% include figure.html 
              path=profile_image_path 
              class="img-fluid z-dept-1 rounded"
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div align="right"><font size=2><i>Currently located in:</i></font></div>
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>



          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          <b> My availability can be found here, with ~80% chance of following it :></b> <br>
          <iframe src="https://calendar.google.com/calendar/embed?height=540&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FBerlin&showTitle=0&showPrint=0&mode=WEEK&src=dW5maW5kemhvdUBnbWFpbC5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=cXExazRiZ2kyOWtkdm0xbGk4cjczbDQzNTA0NnFmMm5AaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=djZmYzc1dGltbG9rcTJxcGhwb2hiYWVhODBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%237986CB&color=%2333B679&color=%23795548&color=%230B8043&color=%23AD1457" style="border:solid 1px #777" width="800" height="540" frameborder="0" scrolling="no"></iframe>
          {%- if page.social %}

          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
