---
---

<div class="row">
  <div class="col-sm-2 abbr" style="max-width: 12%;">
  {% if entry.abbr %}
    {% if site.data.venues[entry.abbr] %}
    <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a></abbr>
    {% else %}
    <abbr class="badge">{{entry.abbr}}</abbr>
    {% endif %}
  {% endif %}
  </div>

  <div id="{{entry.key}}" class="col-sm-8" style="max-width: 80%;">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="title" style="padding-top: 0em; padding-bottom: 0px; margin-bottom: -.2em;">{{entry.title}}</div>
      <div class="author" style="padding-top: 0em; padding-bottom: 0px; margin-bottom: -.2em;">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name%}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              {% if entry.corr %}
                <em><b>{{author.first}} {{author.last}}</b></em><sup>#</sup>
              {% else %}
                <em><b>{{author.first}} {{author.last}}</b></em>
              {% endif %}
            {% else %}
              {% if entry.corr %}
                <em><b>{{author.first}} {{author.last}}</b></em><sup>#</sup>
              {% else %}
                <em><b>{{author.first}} {{author.last}}</b></em>
              {% endif %}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                {% if entry.corr %}
                  <em><b>{{author.first}} {{author.last}}</b></em><sup>#</sup>
                {% else %}
                  <em><b>{{author.first}} {{author.last}}</b></em>
                {% endif %},
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}">{{author.last}}, {{author.first}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and<em><b>{{author.first}} {{author.last}}#</b></em>
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{coauthor_url}}">{{author.last}}, {{author.first}}</a>
                {% else %}
                  and {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="periodical" style="padding-top: 0em; padding-bottom: 0px; margin-bottom: -.3em;">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>{{entry.booktitle}}</em>
      {% endif %}
      {% if entry.month %}
        {{entry.month | capitalize}}
      {% endif %}
      {% if entry.year %}
        {{entry.year}}
      {% endif %}
      {% if entry.special %}
        <strong>({{entry.special}})</strong>
      {% endif %}
      </div>
    {% endif %}

    <div class="links" style="padding-top: 0em; padding-bottom: 0em; height: 30px; margin-bottom: -.8em;">
    {% if entry.abstract %}
      <a class="abstract btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Abs</a>
    {% endif %}
    {% if entry.arxiv %}
      <a href="{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">arXiv</a>
    {% endif %}
    {% if entry.bibtex_show %}
    <a class="bibtex btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Bib</a>
    {% endif %}
    {% if entry.html %}
      <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">HTML</a>
    {% endif %}
    {% if entry.pdf %}
      {% if entry.pdf contains '://' %}
      <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">PDF</a>
      {% else %}
      <a href="{{ entry.pdf | prepend: '/assets/files/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">PDF</a>
      {% endif %}
    {% endif %}
    {% if entry.supp %}
      {% if entry.supp contains '://' %}
      <a href="{{ entry.supp }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Supp</a>
      {% else %}
      <a href="{{ entry.supp | prepend: '/assets/files/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Supp</a>
      {% endif %}
    {% endif %}
    {% if entry.blog %}
      <a href="{{ entry.blog }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Blog</a>
    {% endif %}
    {% if entry.code %}
      <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Code</a>
    {% endif %}
    {% if entry.poster %}
      {% if entry.poster contains '://' %}
      <a href="{{ entry.poster }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Poster</a>
      {% else %}
      <a href="{{ entry.poster | prepend: '/assets/files/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Poster</a>
      {% endif %}
    {% endif %}
    {% if entry.slides %}
      {% if entry.slides contains '://' %}
      <a href="{{ entry.slides }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Slides</a>
      {% else %}
      <a href="{{ entry.slides | prepend: '/assets/files/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Slides</a>
      {% endif %}
    {% endif %}
    {% if entry.website %}
      <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Website</a>
    {% endif %}
    {% if entry.video %}
      <a href="{{ entry.video }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Video</a>
    {% endif %}

    {% if entry.zhihu %}
      <a href="{{ entry.zhihu }}" class="btn btn-sm z-depth-0" role="button" style="padding-top: 0em; padding-bottom: 0px;">Zhihu</a>
    {% endif %}
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}

    <!-- Hidden bibtex block -->
    {% if entry.bibtex_show %}
    <div class="bibtex hidden">
      {% highlight bibtex %}{{ entry.bibtex }}{% endhighlight %}
    </div>
    {% endif %}
  </div>
</div>
