---
---
<!-- _layouts/bib.html -->
      <div class="row">

        <!-- Entry bib key -->
        <div id="{{entry.key}}">
        <!-- Title -->
        {%- if entry.website -%}
          <div class="title"><a href = "{{ entry.website }}">{{entry.title}}</a></div>
        {%- else -%}
          <div class="title">{{entry.title}}</div>
        {%- endif -%}
        <!-- Author -->
        <div class="author">
        {% assign author_array_size = entry.author_array | size %}

        {%- for author in entry.author_array -%}
          {%- assign author_is_self = false -%}
          {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
          {%- if site.scholar.last_name contains author_last_name -%}
            {%- if site.scholar.first_name contains author.first -%}
              {%- assign author_is_self = true -%}
            {%- endif -%}
          {%- endif -%}
          {%- assign coauthor_url = nil -%}
          {%- if site.data.coauthors[author_last_name] -%}
            {%- for coauthor in site.data.coauthors[author_last_name] -%}
              {%- if coauthor.firstname contains author.first -%}
                {%- assign coauthor_url = coauthor.url -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}

          {%- if forloop.length > 1 -%}
            {%- if forloop.first == false -%},&nbsp;{%- endif -%}
            {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
          {%- endif -%}
          {%- if author_is_self -%}
            <em>{{author.first}} {{author.last}}</em>
          {%- else -%}
            {%- if coauthor_url -%}
              <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
            {%- else -%}
              {{author.first}} {{author.last}}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}

        </div>

        <!-- Journal/Book title and date -->
        {% assign proceedings = "inproceedings,incollection" | split: ','%}
        {% assign thesis = "thesis,mastersthesis,phdthesis" | split: ','%}
        {% if entry.type == "article" -%}
          {%- capture entrytype -%}<em>{{entry.journal}}</em>{%- endcapture -%}
        {%- elsif proceedings contains entry.type -%}
          {%- capture entrytype -%}<em>In {{entry.booktitle}}</em> {%- endcapture -%}
        {%- elsif thesis contains entry.type -%}
          {%- capture entrytype -%}<em>{{entry.school}}</em> {%- endcapture -%}
        {%- else -%}
          {%- capture entrytype -%}{%- endcapture -%}
        {%- endif -%}
        {%- if entry.month -%}
          {%- capture entrymonth -%}{{ " " }}{{ entry.month | capitalize }}{%- endcapture -%}
        {%- endif -%}
        {%- if entry.year -%}
          {%- capture entryyear -%}{{ " " }}{{entry.year}}{%- endcapture -%}
        {%- endif -%}
        {% assign entrytype_text = entrytype | strip_html | strip %}
        {%- capture periodical -%}{{ entrytype }}{%- if entrytype_text != "" and entryyear != "" -%}, {%- endif -%}{{ entrymonth }}{{ entryyear }}{%- endcapture -%}
        <div class="periodical">
          {{ periodical | strip }}
        </div>
        <div class="periodical">
          {{ entry.note | strip }}
        </div>

        </div>
      </div>
