---
---
{{reference}}
    {% if entry.abstract %}
    <button class="btn btnId btnPub--abstract" id="b_{{key}}-abstract" style="outline:none;">Abstract</button>
    {% endif %}

    <button class="btn btnId btnPub--BibTex" id="b_{{key}}-bibtex" style="outline:none;">BibTeX</button>
    
    {% if link %}
    <a href="{{link}}"><button class="btn btnId btnPub--download" style="outline:none; position:relative;white-space: normal;">PDF</button></a>
    {% endif %}
    
    {% if links['sup.pdf'] %}
    <a href="{{links['sup.pdf']}}"><button class="btn btnId btnPub--supplement" style="outline:none; position:relative;white-space: normal;">Supplement</button></a>
    {% endif %}

    <div class="dropDownBibtex" id="{{key}}-bibtex">
    <pre>{{entry.bibtex}}</pre>
    </div>
    
    <div class="dropDownAbstract" id="{{key}}-abstract">
    {{entry.abstract}}
    </div>