---
layout: default
---
<!-- _layouts/cv.html -->
{% unless site.data.resume %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
      {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <h4>Table of contents</h4>
  <!-- embed me -->
  <ul class="timeline">
  {% for entry in site.data.cv %}
    <li><a href="#{{ entry.title }}"><span class="badge-toc">{{ entry.title }}</span></a></li>
  {% endfor %}
  </ul>

  <article>
    <div class="cv">
      {% for entry in site.data.cv %}
        <a class="anchor" id="{{ entry.title }}"></a>
        <div class="card mt-3 p-3">
          <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
          <div>
          {% if entry.type == "list" %}
            {% include cv/list.html %}
          {% elsif entry.type == "map" %}
            {% include cv/map.html %}
          {% elsif entry.type == "nested_list" %}
            {% include cv/nested_list.html %}
          {% elsif entry.type == "time_table" %}
            {% include cv/time_table.html %}
          {% elsif entry.type == "list_groups" %}
            {% include cv/list_groups.html %}
          {% else %}
            {{ entry.contents }}
          {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
  </article>

</div>
{% else %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
    {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <object data="/assets/pdf/bryan-lu-cv-08-19-24.pdf" type="application/pdf" width="100%" height="1020px">
    <p>Unable to display PDF file. <a href="/assets/pdf/bryan-lu-cv-08-19-24.pdf">Download</a> instead.</p>
  </object>

</div>
{% endunless %}

<table>
  <tr>
    <td>
      <img src="http://math.jhu.edu/~savitt/GTM/warner.jpg" width=90 height=140 alt="">
    </td>
    <td>
      <p>
        If I were a Springer-Verlag Graduate Text in Mathematics, I would be Frank Warner's <b><i>Foundations of Differentiable Manifolds and Lie Groups</i></b>.
      </p>
      <p> I give a clear, detailed, and careful development of the basic facts on manifold theory and Lie Groups. I include differentiable manifolds, tensors and 
        differentiable forms. Lie groups and homogenous spaces, integration on manifolds, and in addition provide a proof of the de Rham theorem via sheaf cohomology 
        theory, and develop the local theory of elliptic operators culminating in a proof of the Hodge theorem.  Those interested in any of the diverse areas of 
        mathematics requiring the notion of a differentiable manifold will find me extremely useful. 
      </p> 
      <p>Which Springer GTM would <i>you</i> be?  <a href="http://math.jhu.edu/~savitt/GTM.html">The Springer GTM Test</a></p>
    </td>
  </tr>
</table>