---
layout: default
---
<!-- _layouts/cv.html -->
<div class="post">
  <article>
    <div class="cv-pdf-container">
      {% if page.cv_pdf %}
        <iframe src="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}" width="100%" height="800px">
          This browser does not support PDFs. Please download the PDF to view it: 
          <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}">Download PDF</a>
        </iframe>
      {% else %}
        <p>PDF version of the CV is not available.</p>
      {% endif %}
    </div>
  </article>
</div>

<style>
  .cv-pdf-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
</style>