---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            
            <div class="cv">
              {% for entry in site.data.cv %}
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
                  <div>
                  {% if entry.type == "list" %}
                    <ul class="card-text font-weight-light list-group list-group-flush">
                    {% for content in entry.contents %}
                      <li class="list-group-item">{{ content}}</li>
                    {% endfor %}
                    </ul>
                  {% elsif entry.type == "map" %}
                    <table class="table table-sm table-borderless table-responsive">
                      {% for content in entry.contents %}
                        <tr>
                          <td class="p-1 pr-2 font-weight-bold"><b>{{ content.name }}</b></td>
                          <td class="p-1 pl-2 font-weight-light text">{{ content.value }}</td>
                        </tr>
                      {% endfor %}
                    </table>
                  {% elsif entry.type == "nested_list" %}
                    <ul class="card-text font-weight-light list-group list-group-flush">
                    {% for content in entry.contents %}
                      <li class="list-group-item">
                      <h5 class="font-italic">{{ content.title }}</h5>
                      {% if content.items %}
                        <ul class="subitems">
                          {% for subitem in content.items %}
                            <li><span class="subitem">{{ subitem }}</span></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                      </li>
                    {% endfor %}
                    </ul>
                  {% elsif entry.type == "table" %}
                    <ul class="card-text font-weight-light list-group list-group-flush">
                    {% for content in entry.contents %}
                      <li class="list-group-item">
                        <div class="row">
                          {% if content.year %}
                            <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
                              <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px;">
                                {{ content.year }}
                              </span>
                            </div>
                          {% endif %}
                          <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
                            {% if content.title %}
                            <h6 class="title font-weight-bold ml-1 ml-md-4">{{content.title}}</h6>
                            {% endif %}
                            {% if content.institution %}
                            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">{{content.institution}}</h6>
                            {% endif %}
                            {% if content.description %}
                              <ul class="items">
                                {% for item in content.description %}
                                  <li>
                                    {% if item.contents %}
                                      <span class="item-title">{{ item.title }}</span>
                                      <ul class="subitems">
                                      {% for subitem in item.contents %}
                                        <li><span class="subitem">{{ subitem }}</span></li>
                                      {% endfor %}
                                      </ul>
                                    {% else %}
                                      <span class="item">{{ item }}</span>
                                    {% endif %}
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                            {% if content.items %}
                              <ul class="items">
                                {% for item in content.items %}
                                  <li>
                                    {% if item.contents %}
                                      <span class="item-title">{{ item.title }}</span>
                                      <ul class="subitems">
                                      {% for subitem in item.contents %}
                                        <li><span class="subitem">{{ subitem }}</span></li>
                                      {% endfor %}
                                      </ul>
                                    {% else %}
                                      <span class="item">{{ item }}</span>
                                    {% endif %}
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    {{ entry.contents }}
                  {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>

          </article>

        </div>
