---
layout: default
---
<!-- page.html -->
        <div class="post">

          <div class="md:flex md:items-center md:justify-between">
            <div class="flex-1 min-w-0">
              <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">{{ page.title }}</h2>
              <h4 class="text-2xl leading-7 text-gray-900 sm:text-3xl sm:truncate">{{ page.description }}</h4>
            </div>
          </div>

          <article>
            {{ content }}
          </article>

        </div>
