<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    {% if page._styles %}
    <style type="text/css">
    {{ page._styles }}
    </style>
    {% endif %}


    <!-- Content -->

    <div class="container">
      {{ content }}
    </div>

    <!-- Footer -->

    <!-- {% include footer.html %} -->

  </body>

  {% include scripts/bootstrap.html %}
  {% include scripts/misc.html %}

</html>
