---
---
<!-- _layouts/talks.html -->
{%- if entry.month -%}
  {%- capture entrymonth -%}{{ " " }}{{ entry.month | capitalize }}{%- endcapture -%}
{%- endif -%}
{%- if entry.year -%}
  {%- capture entryyear -%}{{ " " }}{{entry.year}}{%- endcapture -%}
{%- endif -%}
{%- if entry.venue -%}
  {%- capture entryvenue -%}{{ ": &emsp;" }}{{entry.venue}}{%- endcapture -%}
{%- endif -%}
{%- capture periodical -%}{{ entrymonth }}{{ entryyear }}{{ entryvenue }}{%- endcapture -%}
<div class="periodical" style="display: inline">
  {{ periodical | strip }}
  {%- if entry.slides %}
    {% if entry.slides contains '://' -%}
      &ensp;<a href="{{ entry.slides }}">[Slides]</a>  
    {%- else -%}
      &ensp;<a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}">[Slides]</a>
    {%- endif %}
  {%- endif %}
  {%- if entry.video %}
    &ensp;<a href="{{ entry.video }}">[Video]</a>
  {%- endif %}
</div>
