---
---
<!-- _layouts/teaching.html -->
     

        <!-- Entry bib key -->
        <div id="{{entry.key}}" class="col-sm-8">
        
        
        <!-- Term, Year, Insitution -->
        <div class="description">{{entry.term}{ " " }{entry.year}{ ", " }{entry.institution}}</div>

        <!-- Course year, degree type -->
        <div class="description">{{entry.courseyear}{ " " }{entry.degree}}</div>

        <!-- Notes -->
        <div class="description">{{entry.notes}}</div>



          
