---
---
<!-- _layouts/teaching.html -->
     

        <!-- Entry bib key -->
        <div id="{{entry.key}}" class="col-sm-8">
        
        <!-- Title -->
        <div class="title">{{entry.title}}</div>
        
        <!-- Term, Year, Insitution -->
        <div class="institution">{{entry.term}{ " " }{entry.year}{ ", " }{entry.institution}}</div>

        <!-- Course year, degree type -->
        <div class="institution">{{entry.course_year}{ " " }{entry.degree}}</div>

        <!-- Notes -->
        <div class="institution">{{entry.notes}}</div>



          
