on:
  push:
    branches:
      - master

jobs:
  build_resume:
    name: build resume using resume.json
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Create PDF directory
        run: mkdir -p assets/pdf

      - name: Install dependencies
        run: |
          npm install resumed jsonresume-theme-even

      - name: Generate HTML from resume.json
        run: |
          npx resumed render assets/json/resume.json --theme jsonresume-theme-even --output assets/pdf/index.html

      - name: Generate PDF from HTML
        uses: ferdinandkeller/html-to-pdf-action@v2
        with:
          source-path: "./assets/pdf/"
          destination-path: "./assets/pdf/cv.pdf"

      - name: Upload cv artifact
        uses: actions/upload-artifact@v4
        with:
          name: cv
          path: 'assets/pdf/cv.pdf'
      
      - name: Upload cv artifact
        uses: actions/upload-artifact@v4
        with:
          name: index
          path: 'assets/pdf/index.html'
