name: Deploy
on:
  push:
    branches:
      - master
      - source
  pull_request:
    branches:
      - master
      - source
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'
    - name: Enable bundler cache
      uses: actions/cache@v4
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Install deps
      run: |
        gem install bundler -v 2.4.22
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
    - name: Setup deploy options
      id: setup
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        if [[ ${GITHUB_REF} = refs/pull/*/merge ]]; then # pull request
          echo "SRC_BRANCH=${GITHUB_HEAD_REF}" >> $GITHUB_OUTPUT
          echo "NO_PUSH=--no-push" >> $GITHUB_OUTPUT
        elif [[ ${GITHUB_REF} = refs/heads/* ]]; then # branch, e.g. master, source etc
          echo "SRC_BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
        fi
        if [[ ${{ github.repository }} = *.github.io ]]; then # user/org repo
          echo "DEPLOY_BRANCH=master" >> $GITHUB_OUTPUT
        else
          echo "DEPLOY_BRANCH=gh-pages" >> $GITHUB_OUTPUT
        fi
    # This is the key change - modify script in-place with Git attribute override
    - name: Fix script without Git detecting changes
      run: |
        # Tell Git to ignore changes to bin/deploy temporarily
        git update-index --assume-unchanged bin/deploy
        
        # Fix the line endings in place
        tr -d '\r' < bin/deploy > temp_deploy && mv temp_deploy bin/deploy
        chmod +x bin/deploy
    - name: Deploy website 
      run: |
        bin/deploy --verbose ${{ steps.setup.outputs.NO_PUSH }} \
          --src ${{ steps.setup.outputs.SRC_BRANCH }} \
          --deploy ${{ steps.setup.outputs.DEPLOY_BRANCH }} << EOF
        y
        EOF
