<ul class="card-text font-weight-light list-group list-group-flush">
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-2 cl-sm-2 col-md-2 text-left" style="width: 200px;">
	{% if memberdata.startdate %}
	{% assign startdate = memberdata.startdate | split: "-" | join: "." %}
	{% else %}
	{% assign startdate = "" %}
	{% endif %}
	{% if memberdata.enddate %}
	{% assign enddate = memberdata.enddate | split: "-" | join: "." %}
	{% else %}
	{% assign enddate = "" %}
	{% endif %}
	<span class="badge font-weight-bold danger-color-dark text-uppercase align-top">
          {{ startdate }}{% if enddate != "" %}-{{ enddate }}{% endif %}
	</span>
      </div>
      <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
	<h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">
	{% if memberdata contains "role_url" and memberdata.role_url != "" %}
	  <a href="{{ memberdata.role_url }}">{{ memberdata.role }}</a>
	{% else %}
	  {{ memberdata.role }}
	{% endif %}
	</h6>  
      </div>
    </div>
    {% if memberdata contains "email" and memberdata.email != "" %}
    <div class="row">
      <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 200px;"></div>
      <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
	<h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;"><i class="fas fa-envelope"></i>{{ " " }}<a href="mailto:{{ memberdata.email }}" target="_blank">{{ memberdata.email }}</a></h6>
      </div>
    </div>
    {% endif %}
  </li>
  {% if memberdata contains "degrees" and memberdata.degrees.size > 0 %}
    {% for degree in memberdata.degrees %}
      <li class="list-group-item">
        <div class="row">
          {% assign degreetype = degree[0] %}
	  {% assign degreedata = degree[1] %}
          <div class="col-xs-2 cl-sm-2 col-md-2 text-left" style="width: 200px;">
	    <h6 class="title font-weight-bold ml-1 ml-md-4">{{ degreetype }}</h6>
          </div>
          <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
	    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">
	    {% if degreedata contains "thesis_url" and degreedata.thesis_url != "" %}
              <a href="{{ degreedata.thesis_url }}">{{ degreedata.thesis }}</a>
            {% else %}
              {{ degreedata.thesis }}
            {% endif %}
	    <!-- cosupervisors -->  
	    {% if degreedata contains "cosupervisors" and degreedata.cosupervisors != "" %}
	      {{ " (co&#8209;supervisor" }}{% if degreedata.cosupervisors contains "," %}s{% endif %}{{ ":" }}
	      {% assign cosupervisors = degreedata.cosupervisors | split:"," %}
	      {% for cosupervisor in cosupervisors %}
	        {% assign coauthor_url = nil %}
	        {% assign cosupervisor_first_name = cosupervisor | split:" " | first %}
	        {% assign cosupervisor_last_name = cosupervisor | split:" " | last %}
	        {% if site.data.coauthors[cosupervisor_last_name] %}
	          {% for coauthor in site.data.coauthors[cosupervisor_last_name] %}
                    {% if coauthor.firstname contains cosupervisor_first_name %}
                      {% assign coauthor_url = coauthor.url %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
	        {% if coauthor_url %}
	          <a href="{{ coauthor_url }}">{{ cosupervisor | replace: " ", "&nbsp;" }}</a>{% unless forloop.last %}{{ ", " }}{% else %}){% endunless %}
	        {% else %}
                  {{ cosupervisor | replace: " ", "&nbsp;" }}{% unless cosupervisor == degreedata.cosupervisors | split:"," | last %}{{ ", " }}{% else %}){% endunless %}
	        {% endif %}
	      {% endfor %}
            {% endif %}
            <!-- end cosupervisors -->
	    </h6>	  
	  </div>
	</div>
      </li>	
    {% endfor %}
  {% endif %}
</ul>
	  
<!--
  {% if memberdata contains "degrees" and memberdata.degrees.size > 0 %}
  {% for degree in memberdata.degrees %}
  {% assign degreetype = degree[0] %}
  {% assign degreedata = degree[1] %}
  <tr>
    <td class="p-1 pr-2 font-weight-bold">{{ degreetype }}</td>
    <td class="p-1 pl-2 font-weight-light text">
      {% if degreedata contains "thesis_url" and degreedata.thesis_url != "" %}
        <a href="{{ degreedata.thesis_url }}">{{ degreedata.thesis }}</a>
      {% else %}
        {{ degreedata.thesis }}
      {% endif %}
	{% if degreedata contains "cosupervisors" and degreedata.cosupervisors != "" %}
	  {{ " (co&#8209;supervisor" }}{% if degreedata.cosupervisors contains "," %}s{% endif %}{{ ":" }}
	  {% assign cosupervisors = degreedata.cosupervisors | split:"," %}
	  {% for cosupervisor in cosupervisors %}
	    {% assign coauthor_url = nil %}
	    {% assign cosupervisor_first_name = cosupervisor | split:" " | first %}
	    {% assign cosupervisor_last_name = cosupervisor | split:" " | last %}
	    {% if site.data.coauthors[cosupervisor_last_name] %}
	      {% for coauthor in site.data.coauthors[cosupervisor_last_name] %}
                {% if coauthor.firstname contains cosupervisor_first_name %}
                  {% assign coauthor_url = coauthor.url %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}
	    {% if coauthor_url %}
	      <a href="{{ coauthor_url }}">{{ cosupervisor | replace: " ", "&nbsp;" }}</a>{% unless forloop.last %}{{ ", " }}{% else %}){% endunless %}
	    {% else %}
              {{ cosupervisor | replace: " ", "&nbsp;" }}{% unless cosupervisor == degreedata.cosupervisors | split:"," | last %}{{ ", " }}{% else %}){% endunless %}
	    {% endif %}
	  {% endfor %}
	{% endif %}
    </td>
  </tr>  
  {% endfor %}
  {% endif %}
  {% if memberdata contains "email" and memberdata.email != "" %}
  <tr>
    <td class="p-1 pr-2 font-weight-bold"><i class="fas fa-envelope"></i></td>
    <td class="p-1 pl-2 font-weight-light text">
      <a href="mailto:{{ memberdata.email }}" target="_blank">{{ memberdata.email }}</a>
    </td>
  </tr>
  {% endif %}
  
</table>
-->
